<ion-header>
  <ion-navbar>
    <ion-title>
      Agregar tareas
    </ion-title>
    <ion-buttons>
      <button ion-button icon-only (click)="OnGoBack()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <form [formGroup]="form" (ngSubmit)="guardar()" novalidate>
      <ion-list>
        <ion-item>
          <ion-label color="primary" floating>Descripcion</ion-label>
          <ion-textarea formControlName="descripcion"></ion-textarea>
        </ion-item>
        <ion-item *ngIf="form.get('descripcion').errors && form.get('descripcion').touched">
          <p *ngIf="form.get('descripcion').hasError('required')">Es requerido</p>
        </ion-item>

        <ion-item>
          <ion-label color="primary" floating>Empleado</ion-label>
          <ion-select formControlName="empleado"></ion-select>
        </ion-item>
        <ion-item *ngIf="form.get('empleado').errors && form.get('empleado').touched">
          <p *ngIf="form.get('empleado').hasError('required')">Es requerido</p>
        </ion-item>

        <ion-item>
          <ion-label color="primary" floating>Finca</ion-label>
          <ion-select formControlName="finca"></ion-select>
        </ion-item>
        <ion-item *ngIf="form.get('finca').errors && form.get('finca').touched">
          <p *ngIf="form.get('finca').hasError('required')">Es requerido</p>
        </ion-item>

        <ion-item>
          <ion-label color="primary" floating>Fecha</ion-label>
          <ion-datetime formControlName="fecha"></ion-datetime>
        </ion-item>
        <ion-item *ngIf="form.get('fecha').errors && form.get('fecha').touched">
          <p *ngIf="form.get('fecha').hasError('required')">Es requerido</p>
        </ion-item>

      </ion-list>
      <button ion-button block type="submit" [disabled]="form.invalid">Guardar</button>
    </form>
  </ion-card-content>
</ion-content>