<ion-header>
  <ion-navbar>
    <ion-title>
      Agregar Suplidor
    </ion-title>
    <ion-buttons>
      <button ion-button icon-only (click)="OnGoBack()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <form [formGroup]="form" (ngSubmit)="guardarSuplidor()" novalidate>
      <ion-list>
        <ion-item>
          <ion-label color="primary" floating>Id</ion-label>
          <ion-input formControlName="id"></ion-input>
        </ion-item>
        <ion-item *ngIf="form.get('id').errors && form.get('id').touched">
          <p *ngIf="form.get('id').hasError('required')">Es requerido</p>
        </ion-item>.

        <ion-item>
          <ion-label color="primary" floating>Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item *ngIf="form.get('nombre').errors && form.get('nombre').touched">
          <p *ngIf="form.get('nombre').hasError('required')">Es requerido</p>
        </ion-item>
        
      <ion-item>
        <ion-label color="primary" floating>Telefono</ion-label>
        <ion-input formControlName="telefono"></ion-input>
      </ion-item>
      <ion-item *ngIf="form.get('telefono').errors && form.get('telefono').touched">
        <p *ngIf="form.get('telefono').hasError('required')">Es requerido</p>
      </ion-item>
      
        <ion-item>
          <ion-label color="primary" floating>Direccion</ion-label>
          <ion-textarea formControlName="direccion"></ion-textarea>
        </ion-item>
        <ion-item *ngIf="form.get('direccion').errors && form.get('direccion').touched">
          <p *ngIf="form.get('direccion').hasError('required')">Es requerido</p>
        </ion-item>

        <ion-item>
          <ion-label color="primary" floating>Celular</ion-label>
          <ion-textarea formControlName="celular"></ion-textarea>
        </ion-item>
        <ion-item *ngIf="form.get('celular').errors && form.get('celular').touched">
          <p *ngIf="form.get('celular').hasError('required')">Es requerido</p>
        </ion-item>

      </ion-list>
      <button ion-button block type="submit" [disabled]="form.invalid">Guardar</button>
    </form>
  </ion-card-content>
</ion-content>

