<ion-header>
  <ion-navbar>
    <ion-title>
      Agregar Cosechas
    </ion-title>
    <ion-buttons>
      <button ion-button icon-only (click)="OnGoBack()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="ConsultarCosechas()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <form [formGroup]="form" (ngSubmit)="guardarCosecha()" novalidate>
      <ion-list>

        <ion-item>
          <ion-label color="primary" floating>Descripcion</ion-label>
          <ion-input formControlName="descripcion"></ion-input>
        </ion-item>
        <ion-item *ngIf="form.get('descripcion').errors && form.get('descripcion').touched">
          <p *ngIf="form.get('descripcion').hasError('required')">Es requerido</p>
        </ion-item>

        <ion-item>
          <ion-label color="primary" floating>Fecha</ion-label>
          <ion-datetime formControlName="fecha"></ion-datetime>
        </ion-item>
        <ion-item *ngIf="form.get('fecha').errors && form.get('fecha').touched">
          <p *ngIf="form.get('fecha').hasError('required')">Es requerido</p>
        </ion-item>

        <ion-item>
          <ion-label color="primary" floating>Cantidad</ion-label>
          <ion-textarea formControlName="cantidad"></ion-textarea>
        </ion-item>
        <ion-item *ngIf="form.get('cantidad').errors && form.get('cantidad').touched">
          <p *ngIf="form.get('cantidad').hasError('required')">Es requerido</p>
        </ion-item>

        <ion-item>
          <ion-label>Siembra</ion-label>
          <ion-select multiple="true" cancelText="cancel" okText="ok">
            <ion-option #item *ngFor="let sitio of items ; let i = index" selected="false" 
            >{{sitio.title}} </ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="form.get('siembra').errors && form.get('siembra').touched">
          <p *ngIf="form.get('siembra').hasError('required')">Es requerido</p>
        </ion-item>

      </ion-list>
      <button ion-button block type="submit" [disabled]="form.invalid">Guardar</button>
    </form>
  </ion-card-content>
</ion-content>