<ion-header>
  <ion-navbar>
    <ion-title>
      Agregar Siembra
    </ion-title>
    <ion-buttons>
      <button ion-button icon-only (click)="OnGoBack()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="ConsultaSiembra()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card-content>
    <form [formGroup]="form" (ngSubmit)="guardarSiembra(form)" novalidate>
      <ion-list>
        <ion-item>
          <ion-label floating color="primary">Parcelas</ion-label>
          <ion-select multiple="false" formControlName="idparcelas" cancelText="Cancel" okText="OK">
            <ion-option *ngFor="let items of parcela;" [value]="items.idParcelas">{{items.descripcion}} </ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="form.get('idparcelas').errors && form.get('idparcelas').touched">
          <p *ngIf="form.get('idparcelas').hasError('required')">Es requerido</p>
        </ion-item>
        <ion-item>
          <ion-label floating color="primary">Frutos</ion-label>
          <ion-select multiple="false" formControlName="idfrutos" cancelText="Cancel" okText="OK">
            <ion-option *ngFor="let frut of frutos" [value]="frut.idFrutos">{{frut.descripcion}} </ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="form.get('idfrutos').errors && form.get('idfrutos').touched">
          <p *ngIf="form.get('idfrutos').hasError('required')">Es requerido</p>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>Descripcion</ion-label>
          <ion-input formControlName="descripcion"></ion-input>
        </ion-item>
        <ion-item *ngIf="form.get('descripcion').errors && form.get('descripcion').touched">
          <p *ngIf="form.get('descripcion').hasError('required')">Es requerido</p>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>Fecha</ion-label>
          <ion-datetime formControlName="fecha"></ion-datetime>
        </ion-item>
        <ion-item *ngIf="form.get('fecha').errors && form.get('fecha').touched">
          <p *ngIf="form.get('fecha').hasError('required')">Es requerido</p>
        </ion-item>
      </ion-list>
      <button ion-button block type="submit" [disabled]="form.invalid">Registrar</button>
    </form>
  </ion-card-content>
</ion-content>