<ion-header>
  <ion-navbar>
    <ion-title>
      Logueate a tu fincaApp
    </ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <form [formGroup]="form" (ngSubmit)="Login()" novalidate>
      <ion-list>
        <ion-item>
          <ion-label color="primary" floating>Usuario</ion-label>
          <ion-textarea formControlName="usuario"></ion-textarea>
        </ion-item>
        <ion-item *ngIf="form.get('usuario').errors && form.get('usuario').touched">
          <p *ngIf="form.get('usuario').hasError('required')">Es requerido</p>
        </ion-item>

        <ion-item>
          <ion-label color="primary" floating>Contraseña</ion-label>
          <ion-input formControlName="contraseña"></ion-input>
        </ion-item>
        <ion-item *ngIf="form.get('contraseña').errors && form.get('contraseña').touched">
          <p *ngIf="form.get('contraseña').hasError('required')">Es requerido</p>
        </ion-item>

      </ion-list>
      <button ion-button block type="submit" [disabled]="form.invalid">Login</button>
    </form>
  </ion-card-content>
</ion-content>