<ion-header>
    <ion-navbar>
      <ion-title>
        Agregar Maquinaria
      </ion-title>
      <ion-buttons>
        <button ion-button icon-only (click)="OnGoBack()">
          <ion-icon name="md-arrow-back"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="Maquinaria()" novalidate>
        <ion-list>
          <ion-item>
            <ion-label color="primary" floating>Descripcion</ion-label>
            <ion-input formControlName="descripcion"></ion-input>
          </ion-item>
          <ion-item *ngIf="form.get('descripcion').errors && form.get('descripcion').touched">
            <p *ngIf="form.get('descripcion').hasError('required')">Es requerido</p>
          </ion-item>
  
          <ion-item>
            <ion-label color="primary" floating>Tipo</ion-label>
            <ion-select formControlName="tipo"></ion-select>
          </ion-item>
          <ion-item *ngIf="form.get('tipo').errors && form.get('tipo').touched">
            <p *ngIf="form.get('tipo').hasError('required')">Es requerido</p>
          </ion-item>
  
          <ion-item>
            <ion-label color="primary" floating>Modelo</ion-label>
            <ion-input formControlName="modelo"></ion-input>
          </ion-item>
          <ion-item *ngIf="form.get('modelo').errors && form.get('modelo').touched">
            <p *ngIf="form.get('modelo').hasError('required')">Es requerido</p>
          </ion-item>

          <ion-item>
            <ion-label color="primary" floating>Marca</ion-label>
            <ion-select formControlName="marca"></ion-select>
          </ion-item>
          <ion-item *ngIf="form.get('marca').errors && form.get('marca').touched">
            <p *ngIf="form.get('marca').hasError('required')">Es requerido</p>
          </ion-item>
          <ion-item>
            <ion-label color="primary" floating>Finca</ion-label>
            <ion-select formControlName="finca"></ion-select>
          </ion-item>
          <ion-item *ngIf="form.get('finca').errors && form.get('finca').touched">
            <p *ngIf="form.get('finca').hasError('required')">Es requerido</p>
          </ion-item>
          <ion-item>
            <ion-label color="primary" floating>Suplidor</ion-label>
            <ion-select formControlName="suplidor"></ion-select>
          </ion-item>
          <ion-item *ngIf="form.get('suplidor').errors && form.get('suplidor').touched">
            <p *ngIf="form.get('suplidor').hasError('required')">Es requerido</p>
          </ion-item>

        </ion-list>
        <button ion-button block type="submit" [disabled]="form.invalid">Guardar</button>
      </form>
    </ion-card-content>
  </ion-content>