<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      Listado Tareas
    </ion-title>
    <ion-buttons>
      <button ion-button icon-only (click)="OnGoBack()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="puppies">
        Incompletas
      </ion-segment-button>
      <ion-segment-button value="kittens">
        Completas
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'puppies'">
      <ion-item *ngFor="let grocery of incompleta">
        <img style="width: 15%; height: 15%; display: inline;" src="assets/imgs/tareas.jpg">
        <h2 style="font-weight: bold; display: inline;">{{grocery.fecha}}</h2>
        <p style="margin-left: 17%;">{{grocery.descripcion}}</p>
        <button ion-button clear item-end (click)="openModal(grocery.idtarea,grocery.finca, grocery.descripcion,grocery.fecha)">Completar</button>

      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'kittens'">
      <ion-item *ngFor="let grocery of completa">
        <img style="width: 15%; height: 15%; display: inline;" src="assets/imgs/tareas.jpg">
        <h2 style="font-weight: bold; display: inline;">{{grocery.fecha}}</h2>
        <p style="margin-left: 17%;">{{grocery.descripcion}}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>