<ion-header>
  <ion-navbar>
    <ion-title>
      Agregar fincas
    </ion-title>
    <ion-buttons>
        <button ion-button icon-only (click)="OnGoBack()">
          <ion-icon name="md-arrow-back"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <form [formGroup]="form" (ngSubmit)="guardarFinca()" novalidate>
      <ion-list>
          <ion-item>
              <ion-label color="primary" floating>Foto</ion-label>
              <ion-img formControlName="foto"></ion-img>
            </ion-item>
            <ion-item *ngIf="form.get('foto').errors && form.get('foto').touched">
              <p *ngIf="form.get('foto').hasError('required')">Es requerido</p>
            </ion-item>

        <ion-item>
          <ion-label color="primary" floating>Id</ion-label>
          <ion-input formControlName="id"></ion-input>
        </ion-item>
        <ion-item *ngIf="form.get('id').errors && form.get('id').touched">
          <p *ngIf="form.get('id').hasError('required')">Es requerido</p>
        </ion-item>

        <ion-item>
          <ion-label color="primary" floating>Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item *ngIf="form.get('nombre').errors && form.get('nombre').touched">
          <p *ngIf="form.get('nombre').hasError('required')">Es requerido</p>
        </ion-item>

        <ion-item>
          <ion-label color="primary" floating>Descripcion</ion-label>
          <ion-textarea formControlName="descripcion"></ion-textarea>
        </ion-item>
        <ion-item *ngIf="form.get('descripcion').errors && form.get('descripcion').touched">
          <p *ngIf="form.get('descripcion').hasError('required')">Es requerido</p>
        </ion-item>

      </ion-list>
      <button ion-button block type="submit" [disabled]="form.invalid">Guardar</button>
    </form>
  </ion-card-content>
</ion-content>