<ion-header Access-Control-Allow-Origin>
  <ion-navbar>
      <ion-title>Registrar finca</ion-title>
   
     <ion-buttons>
      <button ion-button icon-only (click)="OnGoBack()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="listafinca()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <form [formGroup]="form" (ngSubmit)="addFinca()" novalidate>
      <ion-list>
        <ion-item>
          <ion-label color="primary" floating>Nombre</ion-label>
          <ion-input name="nombreinput" id="nombreinput" formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item *ngIf="form.get('nombre').errors && form.get('nombre').touched">
          <p *ngIf="form.get('nombre').hasError('required')">Es requerido</p>
        </ion-item>

          <ion-item>
          <ion-label color="primary" floating>Descripcion</ion-label>
          <ion-input name="descripcioninput" id="descripcioninput" formControlName="descripcion"></ion-input>
        </ion-item>
        <ion-item *ngIf="form.get('descripcion').errors && form.get('descripcion').touched">
          <p *ngIf="form.get('descripcion').hasError('required')">Es requerido</p>
        </ion-item>

      </ion-list>
      <button ion-button block type="submit">Guardar</button>
    </form>
  </ion-card-content>
</ion-content>